<div class="row">
  <div class="col">
    <h3>Animais</h3>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-primary" routerLinkActive="active" routerLink="/adicionar-animal">Novo animal</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-4" *ngFor="let animal of animais">
    <div class="card mb-3">
      
      <div class="card-body">
        <img src="{{(animal && animal.imgAnimal) ? animal.imgAnimal : imgAnimalDefault}}" class="card-img-top img-thumbnail mx-auto d-block" alt="...">
        <h5 class="card-title">{{ animal.apelido }}</h5>
        <p class="card-text">
          {{ animal.observacoes }}
          <br />
          {{ animal.especie | especie }} da raça
          {{ animal.raca }}
          <br />
          Porte: {{ animal.porte | tamanho }}
          <br />
          Nasceu em: {{ animal.dataNascimento }}
        </p>
      </div>
      <div class="card-footer bg-transparent">
        <button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#modalEditarAnimal" routerLinkActive="active" routerLink="{{animal.id}}/editar">Editar</button>
        <button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#modalRemoverAnimal" routerLinkActive="active" routerLink="{{animal.id}}/remover">Remover</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
