<div class="row justify-content-md-center">
  <div class="col-md-8">

    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3>Solicitar serviço</h3>
            <hr>
            <br>
          </div>
        </div>

        <!--Adicionar serviço-->
        <div class="row justify-content-md-center">
          <div class="col">
            <form #servicoForm="ngForm" novalidate>

              <h5>Adicione um serviço para um animal de estimação</h5>

              <div class="form-group row">
                <label for="animal" class="col-sm-3 col-form-label">Animal</label>
                <div class="col-sm-9">
                  <select class="form-control" id="animal" required placeholder="Escolha um animal de estimação"
                    name="animal" [(ngModel)]="idAnimal" #animal="ngModel">
                    <option *ngFor="let animal of animais" value={{animal.id}}>
                      {{ animal.apelido }}
                    </option>
                  </select>
                  <div *ngIf="animal.errors && (animal.dirty || animal.touched)" class="alert-danger"
                    style="background-color: white">
                    <div [hidden]="!animal.errors.required">
                      <i>Este é um campo obrigatório</i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="animal" class="col-sm-3 col-form-label">Serviços desejados</label>
                <div class="col-sm-9">
                  <input type="checkbox" id="banho" name="banho" [(ngModel)]="checkboxes[0]"> Banho
                  <br>
                  <input type="checkbox" id="tosa" name="tosa" [(ngModel)]="checkboxes[1]"> Tosa
                  <br>
                  <input type="checkbox" id="passeio" name="passeio" [(ngModel)]="checkboxes[2]"> Passeio
                </div>
              </div>

            </form>
            <button type="button" class="btn btn-primary" (click)="addServico()" 
            [disabled]="!servicoForm.form.valid || (!checkboxes[0] && !checkboxes[1] && !checkboxes[2])">Adicionar</button>
          </div>
        </div>

        <!--Buscar Prestadores-->
        <br>
        <hr>
        <br>
        <div class="row justify-content-md-center">
          <div class="col">
            <form #solicitarForm="ngForm" novalidate>

              <h5>Serviços adicionados:</h5>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Apelido</th>
                    <th scope="col">Especie</th>
                    <th scope="col">Porte</th>
                    <th scope="col">Serviço(s)</th>
                    <th scope="col">Ação</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let animal of animalViews">
                    <th scope="row">{{ animal.apelido }}</th>
                    <td>{{ animal.especie }}</td>
                    <td>{{ animal.porte }}</td>
                    <td> {{animal.tiposServicos[0]}} <br> {{animal.tiposServicos[1]}} <br> {{animal.tiposServicos[2]}}
                    </td>
                    <td><button type="button" class="btn btn-danger" (click)="removeServico(animal.id)">Remover</button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <br>
              <h5>Filtros de busca</h5>
              <div class="form-group row">
                <label for="preco" class="col-sm-3 col-form-label">Preço máximo<br>(em reais)</label>
                <div class="col">
                  <input type="range" class="custom-range" min="10" max="500" step="10" id="preco"
                    [(ngModel)]="precoMaximo" name="preco" [disabled]="animalViews?.length==0"> {{precoMaximo}} Reais
                </div>
              </div>

              <div class="form-group row">
                <label for="distancia" class="col-sm-3 col-form-label">Distância máxima<br>(em metros)</label>
                <div class="col">
                  <input type="range" class="custom-range" min="100" max="20000" step="10" id="distancia"
                    [(ngModel)]="distanciaMaxima" name="distancia" [disabled]="animalViews?.length==0"> {{distanciaMaxima}} Metros ({{distanciaMaxima/1000}} Km)
                </div>
              </div>

            </form>
            <button type="button" class="btn btn-primary" (click)="searchPrestadores()"
              [disabled]="!solicitarForm.form.valid" [disabled]="animalViews?.length==0">Buscar</button>
          </div>
        </div>

      </div>
    </div>

    <!--Resultados-->
    <br>
    <div class="card" *ngIf="showPrestadores()">
      <div class="card-body">

        <div class="row">
          <div class="col">
            <h3>Prestadores encontrados</h3>
            <hr>
            <br>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4" *ngFor="let prestador of prestadoresEncontrados">
            <div class="card mb-3">

              <div class="card-body">
                <img src="{{(prestador && prestador.imgPerfil) ? prestador.imgPerfil : imgPrestadorDefault}}"
                  class="card-img-top img-thumbnail mx-auto d-block" alt="...">
                <h5 class="card-title">{{prestador.nome}}</h5>
                <p class="card-text">
                  {{prestador.avaliacao}}
                  <br />
                  Há {{prestador.distancia}} de distância
                  <br />
                  <span class="badge badge-info"> Por R$ {{prestador.precoTotal}}</span>
                  <br />
                  <a>Ver perfil</a>
                </p>
              </div>
              <div class="card-footer bg-transparent">
                botao confirmar solicitação
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>



  </div>
</div>