<div class="modal fade" id="modalRemoverAnimal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Remover animal</h5>
        </div>
        <div class="modal-body">
          <p>Tem certeza de que deseja remover esse animal? Esta ação é irreversível.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" routerLinkActive="active" routerLink="../../">Cancelar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onSubmit()">Remover</button>
        </div>
    </div>
  </div>
</div>