<div class="modal fade" id="modalEditarContratante" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">

      <div class="row justify-content-md-center">
        <div class="col">

          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h3>Atualizar dados do contratante</h3>
                </div>
              </div>

              <div class="row justify-content-md-center">
                <div class="col">
                  <form #usuarioForm="ngForm" novalidate>

                    <h5>Dados pessoais</h5>

                    <div class="form-group row">
                      <label for="nome" class="col-sm-3 col-form-label">Nome</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="nome" required placeholder="Informar nome completo"
                          [(ngModel)]="novoContratante.nome" name="nome" #nome="ngModel">
                        <div *ngIf="nome.errors && (nome.dirty || nome.touched)" class="alert-danger"
                          style="background-color: white">
                          <div [hidden]="!nome.errors.required">
                            <i>Nome é um campo obrigatório</i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-sm-3 col-form-label">Email</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="email" required
                          placeholder="Informar endereço de e-mail" [(ngModel)]="novoContratante.email" name="email"
                          #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                        <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert-danger"
                          style="background-color: white">
                          <div [hidden]="!email.errors.required">
                            <i>E-mail é um campo obrigatório</i>
                          </div>
                        </div>
                        <div *ngIf="email.errors &&(email.touched || email.dirty)" class ="alert-danger" style="background-color: white">
                          <div [hidden]="!email.errors?.pattern">
                            Email inválido
                          </div> 
                        </div> 
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="senha" class="col-sm-3 col-form-label">Senha</label>
                      <div class="col-sm-9">
                        <input type="password" class="form-control" id="senha"
                          placeholder="Informar nova senha (opcional)" [(ngModel)]="novoContratante.senha" name="senha"
                          #senha="ngModel">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="dataNascimento" class="col-sm-3 col-form-label">Data de nascimento</label>
                      <div class="col-sm-9">
                        <input type="date" class="form-control" id="dataNascimento" required
                          placeholder="Informar data de nascimento" [(ngModel)]="novoContratante.dataNascimento"
                          name="dataNascimento" #dataNascimento="ngModel">
                        <div *ngIf="dataNascimento.errors && (dataNascimento.dirty || dataNascimento.touched)"
                          class="alert-danger" style="background-color: white">
                          <div [hidden]="!dataNascimento.errors.required">
                            <i>Data de nascimento é um campo obrigatório</i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="genero" class="col-sm-3 col-form-label">Gênero</label>
                      <div class="col-sm-9">
                        <select class="form-control" id="genero" required placeholder="Informar gênero"
                          [(ngModel)]="novoContratante.genero" name="genero" #genero="ngModel">
                          <option value="F">Feminino</option>
                          <option value="M">Masculino</option>
                          <option value="O">Outro</option>
                        </select>
                        <div *ngIf="genero.errors && (genero.dirty || genero.touched)" class="alert-danger"
                          style="background-color: white">
                          <div [hidden]="!genero.errors.required">
                            <i>Gênero é um campo obrigatório</i>
                          </div>
                        </div>
                      </div>
                    </div>

                    <h5>Endereço</h5>

                    <div class="form-group row">
                      <label for="cep" class="col-sm-3 col-form-label">CEP</label>
                      <div class="col">
                        <input type="number" class="form-control" id="cep" required placeholder="Informar cep"
                          [(ngModel)]="novoContratante.endereco.cep" name="cep" #cep="ngModel">
                        <div *ngIf="cep.errors && (cep.dirty || cep.touched)" class="alert-danger"
                          style="background-color: white">
                          <div [hidden]="!cep.errors.required">
                            <i>CEP é um campo obrigatório</i>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <button type="button" class="btn btn-light" (click)="verifyCep()">Verificar CEP</button>
                      </div>
                    </div>

                    <div *ngIf="novoContratante.endereco.cep != null">
                      <div class="form-group row">
                        <label for="uf" class="col-sm-3 col-form-label">UF</label>
                        <div class="col-sm-3">
                          <input type="text" readonly class="form-control" id="uf" [(ngModel)]="endereco.uf" name="uf"
                            #uf="ngModel" value="endereco.uf">
                        </div>

                        <label for="cidade" class="col-sm-3 col-form-label">Cidade</label>
                        <div class="col-sm-3">
                          <input type="text" readonly class="form-control" id="cidade" [(ngModel)]="endereco.cidade"
                            name="cidade" #cidade="ngModel" value="endereco.cidade">
                        </div>

                        <label for="bairro" class="col-sm-3 col-form-label" style="margin-top: 2%">Bairro</label>
                        <div class="col-sm-9" style="margin-top: 2%">
                          <input type="text" readonly class="form-control" id="bairro" [(ngModel)]="endereco.bairro"
                            name="bairro" #bairro="ngModel" value="endereco.bairro">
                        </div>

                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="logradouro" class="col-sm-3 col-form-label">Logradouro</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="logradouro" required
                          placeholder="Informar logradouro" [(ngModel)]="endereco.logradouro" name="logradouro"
                          #logradouro="ngModel">
                        <div *ngIf="logradouro.errors && (logradouro.dirty || logradouro.touched)" class="alert-danger"
                          style="background-color: white">
                          <div [hidden]="!logradouro.errors.required">
                            <i>Logradouro é um campo obrigatório</i>
                          </div>
                        </div>
                      </div>
                    </div>

                  </form>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSubmit()"
                    [disabled]="!usuarioForm.form.valid">Salvar Alterações</button>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>