<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Petitosa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul *ngIf="!isAuthenticated" class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="./login">Entrar</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastrar</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLinkActive="active" routerLink="./cadastrar-contratante">Contratante</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="./cadastrar-prestador">Prestador</a>
        </div>
    </li>
  </ul>
  <ul *ngIf="isAuthenticated" class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ userName }}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLinkActive="active" [routerLink]="[urlProfile]">Ver perfil</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
    </li>
  </ul>
</nav>
<div class="content-container">
    <div class="content-area" id="content-area">
      <router-outlet></router-outlet>
    </div>
</div>