<div class="row justify-content-md-center">
  <div class="col-md-8">

    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3>Cadastro como contratante</h3>
          </div>
        </div>

        <div class="row justify-content-md-center">
          <div class="col">
            <form (ngSubmit)="onSubmit()">

              <h5>Dados pessoais</h5>

              <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Nome</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="name" placeholder="Informar nome completo"
                    [(ngModel)]="novoContratante.nome" name="name">
                </div>
              </div>

              <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="email" placeholder="Informar endereço de e-mail"
                    [(ngModel)]="novoContratante.email" name="email">
                </div>
              </div>

              <div class="form-group row">
                <label for="senha" class="col-sm-3 col-form-label">Senha</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="senha" placeholder="Informar a senha"
                    [(ngModel)]="novoContratante.senha" name="senha">
                </div>
              </div>

              <div class="form-group row">
                <label for="dataNascimento" class="col-sm-3 col-form-label">Data de nascimento</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="dataNascimento" placeholder="Informar data de nascimento"
                    [(ngModel)]="novoContratante.dataNascimento" name="dataNascimento">
                </div>
              </div>

              <div class="form-group row">
                <label for="genero" class="col-sm-3 col-form-label">Gênero</label>
                <div class="col-sm-9">
                  <select class="form-control" id="genero" placeholder="Informar gênero"
                    [(ngModel)]="novoContratante.genero" name="genero">
                    <option value="F">Feminino</option>
                    <option value="M">Masculino</option>
                    <option value="M">Outro</option>
                  </select>
                </div>
              </div>

              <h5>Endereço</h5>

              <div class="form-group row">
                <label for="cep" class="col-sm-3 col-form-label">CEP</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="cep" placeholder="Informar cep"
                    [(ngModel)]="novoContratante.endereco.cep" name="cep">
                </div>
              </div>
              <!-- AJUSTAR ENDERECO
              <div class="form-group row">
                <label for="complemento" class="col-sm-3 col-form-label">Complemento</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="complemento" placeholder="Informar complemento"
                    [(ngModel)]="novoContratante.endereco.complemento" name="complemento">
                </div>
              </div>
              -->

            </form>
            <button type="button" class="btn btn-primary" (click)="onSubmit()">Cadastrar</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>