<div class="row">
    <div class="col">
        <h3>Solicitações</h3>
    </div>
</div>

<div>
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pendentes-tab" data-toggle="tab" href="#pendentes" role="tab" aria-controls="pendentes" aria-selected="true">Pendentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="aceitas-tab" data-toggle="tab" href="#aceitas" role="tab" aria-controls="aceitas" aria-selected="false">Aceitas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="andamento-tab" data-toggle="tab" href="#andamento" role="tab" aria-controls="andamento" aria-selected="false">Em andamento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="terminadas-tab" data-toggle="tab" href="#terminadas" role="tab" aria-controls="terminadas" aria-selected="false">Terminadas</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                
                <div class="tab-pane fade show active" id="pendentes" role="tabpanel" aria-labelledby="pendentes-tab">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Data de solicitação</th>
                            <th scope="col">Data esperada para o serviço</th>
                            <th scope="col">Animais e serviços</th>
                            <th scope="col">Valor a receber</th>
                            <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">Aceitar</button>
                                    <button type="button" class="btn btn-danger btn-sm">Rejeitar</button>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">Aceitar</button>
                                    <button type="button" class="btn btn-danger btn-sm">Rejeitar</button>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">Aceitar</button>
                                    <button type="button" class="btn btn-danger btn-sm">Rejeitar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="aceitas" role="tabpanel" aria-labelledby="aceitas-tab">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Data de solicitação</th>
                            <th scope="col">Data esperada para o serviço</th>
                            <th scope="col">Animais e serviços</th>
                            <th scope="col">Valor a receber</th>
                            <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">Iniciar</button>
                                    <button type="button" class="btn btn-danger btn-sm">Desitir</button>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">Iniciar</button>
                                    <button type="button" class="btn btn-danger btn-sm">Desitir</button>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">Iniciar</button>
                                    <button type="button" class="btn btn-danger btn-sm">Desitir</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="andamento" role="tabpanel" aria-labelledby="andamento-tab">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Data de solicitação</th>
                            <th scope="col">Data de início</th>
                            <th scope="col">Animais e serviços</th>
                            <th scope="col">Valor a receber</th>
                            <th scope="col">Contratante</th>
                            <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">Terminar</button>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">Terminar</button>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">Terminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="terminadas" role="tabpanel" aria-labelledby="terminadas-tab">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Data de solicitação</th>
                            <th scope="col">Data de realização do serviço</th>
                            <th scope="col">Animais e serviços</th>
                            <th scope="col">Valor a receber</th>
                            <th scope="col">Contratante</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>      
        </div>
    </div>
</div>